:root {
    --branco: #FFFFFF;
    --cinza-claro: #FAFAFA;
    --cinza: #DBDBDB;
    --cinza-escuro: #737373;
    --azul: #0095f6;
    --azul-escuro: #00376B;
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 1fr);
}

.screenshot {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
}

.screenshot img {
    height: 581.15px;;
    margin: 35px 16px 0 0;
}

main {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 350px;
    margin: 45px 0 0 16px;
}

.box {
    padding: 20px 40px;
    border: 1px solid var(--cinza);
    border-radius: 2px;
}

.entrar {
    display: flex;
    flex-direction: column;
}

.container-logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 40px;
}

.logotipo-img {
    width: 175px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.input-login {
    padding: 11px 8px;
    margin: 0 0 6px 0;
    border: 1px solid var(--cinza);
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    background-color: var(--cinza-claro);
}

.input-login:focus {
    border: 1px solid gray;
}

.button-submit {
    margin: 8px 0;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: var(--azul);
    opacity: 0.7;
    color: var(--branco);
    font-weight: bold;
}

.divisor {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.divisor-linha {
    height: 1px;
    width: 100%;
    background-color: var(--cinza);
}

.divisor-conteudo {
    margin: 0 10px;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.formas-entrar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formas-entrar___login-facebook {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: var(--azul);
    margin: 15px 0 0 0;
}

.formas-entrar___login-facebook:hover {
    color: var(--azul-escuro);
}

.formas-entrar___recuperar-senha {
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: var(--azul-escuro);
}

.cadastrar {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.cadastrar p {
    font-size: 13px;
}

.cadastrar a {
    text-decoration: none;
    font-weight: bold;
    color: var(--azul);
}

.obter-aplicativo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    gap: 20px 8px;
    padding: 0 40px;
    width: 100%;
}

.obter-aplicativo p {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.obter-aplicativo img {
    width: 100%;
}


footer {
    grid-column: 1 / 3;
    grid-row: 6 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul a {
    text-decoration: none;
    margin: 0 10px;
    color: var(--cinza-escuro);
    font-size: 12px;
}

footer ul a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 24px 0;
    font-size: 12px;
    color: var(--cinza-escuro);
}

.copyright select {
    font-size: 12px;
    color: var(--cinza-escuro);
    border: none;
    outline: none;
    cursor: pointer;
}

.copyright p {
    margin-left: 16px;
}